{% extends "base.html" %}
{% block content %}
    <div class="container background mb-5 px-5 py-4"  >
        <div class="container inback mb-10 px-10 py-8"  >
            <h1 class="head">CI-CD</h1>
        </div>
        <div class="container inback mb-10 px-10 py-8"  >
            <h3 class="head">Testing with pytest</h3>
            <p class="intro"></p>
            <hr>
            <h3 class="head">Useful Links</h3>
            <p class="into"><a href="https://github.com/DhyeyKansagara/is280-project1">link to the project on Github</a></p>
            <p class="intro"><a href="https://flask.palletsprojects.com/en/2.0.x/">Link to flask</a></p>
            <p class="intro"><a href="https://flask.palletsprojects.com/en/2.0.x/blueprints/">link to flask Blueprint documentation</a></p>
            <p class="intro"><a href="https://flask.palletsprojects.com/en/2.0.x/testing/">link to flask testing with PyTest </a></p>
            <hr>
            <h3 class="head">Project Outline explanation</h3>
            <p class="intro"></p>

        </div>
    </div>
{% endblock %}